body::before{
    display: block;
    content: '';
    height: 100px;
}
span{
    color: white !important;
}
/* @media(max-width: 768px) {
    .caption{
        display: none;
    }
} */
.phase-1{
    background: burlywood !important;
}
.phase-2{
    background: lightgoldenrodyellow;
}
.phase-3{
    background: rgb(240, 238, 238);
}