body::before{
    display: block;
    content: '';
    height: 100px;
}
span{
    color: white !important;
}
/* @media(max-width: 768px) {
    .caption{
        display: none;
    }
} */
.phase-1{
    background: #FAF6F0 !important;
}
.phase-2{
    background: #F4EAE0 !important;
}
.phase-3{
    background: #f4dfc8 !important;
}