@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body::before{
    display: block;
    content: '';
    height: 100px;
    font-family: 'Poppins', sans-serif;
}
span{
    color: white !important;
}
/* @media(max-width: 768px) {
    .caption{
        display: none;
    }
} */
.phase-1{
    border-radius: 200px;
    }
.phase-2{
   
}
.phase-3{
    
}